<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" (click)="goToHome()" style="cursor: pointer;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="goToAbout()" style="cursor: pointer;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="goToProducts()" style="cursor: pointer;">Products</a>
        </li>
      </ul>
    </div>
  </nav>
  