<!-- <app-header></app-header>
<router-outlet></router-outlet> -->


<!-- <div>
    <h1>Topic: trackBy</h1>
    <button class="btn btn-primary" (click)="onRefresh()"> Refresh
    </button>
    <div *ngFor="let item of users;trackBy:trackByUser" >
        {{item.name}}
    </div>
</div> -->

<!-- <div>
    <h1>Topic: Send Data from child to parent</h1>
    <h6>Input Data Coming from child: {{topic}}</h6>
    <app-child (updateTopicEvent)="updateTopic($event)"></app-child>
</div> -->

<!-- <div class="d-flex flex-column">
    <div class="bg-primary">
        <h1>Topic: Send Data from  parent to child</h1>
        <input type="text" [(ngModel)]="data" (ngModelChange)="onChangeParentData()"/>
    </div>
    <div class="bg-warning text-black">
        <app-childnew [parentData]="data" ></app-childnew>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-lg-6">
        <div>
            <h1>Bar Chart</h1>
            <button class="btn btn-primary" (click)="updateChart()">Update Chart</button>
        </div>
        <div class="d-flex flex-row">
            <canvas id="barChart"></canvas>
            <canvas id="pieChart"></canvas>
        </div>

    </div>

</div> -->

<app-multiforms></app-multiforms>